name: animal-control-group

on:
  push:
    branches: [master]
    
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      GitHubPackageFeedUrl: https://nuget.pkg.github.com/RabidRacoons/index.json
      LogicProjectPath: ${{ github.WORKSPACE }}/AnimalAdoption.Common.Logic

    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x
          source-url: ${{ env.GitHubPackageFeedUrl }}
        env:
          NUGET_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }} # GitHub automatically creates a GITHUB_TOKEN secret to use in your workflow

      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Test
        run: dotnet test 'AnimalAdoption.Web.Portal.UnitTests/AnimalAdoption.Web.Portal.UnitTests.csproj' --no-build --verbosity normal

      - name: Publish
        run: dotnet publish AnimalAdoption.Web.Portal -c release -o deploy

      - name: Upload build artifacts
        uses: actions/upload-artifact@v2
        with:
          name: RabidRacoons Package
          path: ${{ env.Wap_Project_Directory }}\deploy

      - name: Package up project
        run: dotnet pack --configuration Release ${{ env.LogicProjectPath }}

      - name: Push package to GitHub registry
        run: dotnet nuget push ${{ env.LogicProjectPath }}/**/*.nupkg --skip-duplicate