name: animal-control-group

on:
  push:
    branches: [master]
    
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      GitHubPackageFeedUrl: https://nuget.pkg.github.com/RabidRacoons/index.json
      LogicProjectPath: ${{ github.WORKSPACE }}/AnimalAdoption.Common.Logic

    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x
          source-url: ${{ env.GitHubPackageFeedUrl }}
        env:
          NUGET_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }} # GitHub automatically creates a GITHUB_TOKEN secret to use in your workflow

      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Test
        run: dotnet test 'AnimalAdoption.Web.Portal.UnitTests/AnimalAdoption.Web.Portal.UnitTests.csproj' --no-build --verbosity normal

      - name: Publish
        run: dotnet publish AnimalAdoption.Web.Portal -c release -o deploy

      - name: Upload build artifacts
        uses: actions/upload-artifact@v2
        with:
          name: RabidRacoons Package
          path: ${{ env.Wap_Project_Directory }}\deploy

      - name: Package up project
        run: dotnet pack --configuration Release ${{ env.LogicProjectPath }}

      - name: Push package to GitHub registry
        run: dotnet nuget push ${{ env.LogicProjectPath }}/**/*.nupkg --skip-duplicate
        
      - name: Microsoft Teams Notification
        # You may pin to the exact commit or the version.
        # uses: jdcargile/ms-teams-notification@6cd2a73bccdb41eae6c3c99a8977c6bb5e09d77a
        uses: jdcargile/ms-teams-notification@v1.3
        with:
          # GitHub Token
          github-token: '484319bd5b9d21673bb7ddba36fdeddc7296b630'
          # Microsoft Teams Webhook URI
          ms-teams-webhook-uri: 'https://awarelabs.webhook.office.com/webhookb2/6d192079-2d03-4cde-8016-9785f36366c7@ab5eb3d0-6067-40ee-b4c0-a2ce05dbf039/GitHubEnterprise/a64a3b50fc12464db16dae72eec3736b/af7ce161-2bd3-4c65-8dce-7e3c26a5fd71'
          # Message to be sent to Microsoft Teams channel
          notification-summary: 'Hello world'
          # Color of notification header line
          notification-color: Grey


        
